*{
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid black;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

main {
  width: 95vw;
  margin: 10px;
  padding: 5px;
  display: flex;
}

section {
  margin: 10px;
  padding: 5px;
  width: 75%;
}

aside {
  width: 20%;
  border: 1px solid black;
  float: right;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  width: 96.5%;
  margin: 10px;
  padding: 5px;
}

button {
  background-color: black;
  color: white;
  font-family: serif;
}

aside:hover{
  background-color: black;
  color: white;
}

aside:active{
  background-color: white;
  color: black;
}

button:hover{
  background-color: white;
  color: black;
}

button:active{
  background-color: black;
  color: white;
}